USE [master]
GO
/****** Object:  Database [КрасныйЯкорь]    Script Date: 26.06.2026 10:23:33 ******/
CREATE DATABASE [КрасныйЯкорь]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'КрасныйЯкорь', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\КрасныйЯкорь.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'КрасныйЯкорь_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\КрасныйЯкорь_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [КрасныйЯкорь].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [КрасныйЯкорь]
GO
/****** Object:  User [volkov]    Script Date: 26.06.2026 10:23:34 ******/
CREATE USER [volkov] FOR LOGIN [volkov] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [sidorov]    Script Date: 26.06.2026 10:23:34 ******/
CREATE USER [sidorov] FOR LOGIN [sidorov] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [petrova]    Script Date: 26.06.2026 10:23:34 ******/
CREATE USER [petrova] FOR LOGIN [petrova] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [nikolaeva]    Script Date: 26.06.2026 10:23:34 ******/
CREATE USER [nikolaeva] FOR LOGIN [nikolaeva] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ivanov]    Script Date: 26.06.2026 10:23:34 ******/
CREATE USER [ivanov] FOR LOGIN [ivanov] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DB_Storekeeper]    Script Date: 26.06.2026 10:23:34 ******/
CREATE USER [DB_Storekeeper] FOR LOGIN [DB_Storekeeper] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DB_Manager]    Script Date: 26.06.2026 10:23:34 ******/
CREATE USER [DB_Manager] FOR LOGIN [DB_Manager] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DB_Director]    Script Date: 26.06.2026 10:23:34 ******/
CREATE USER [DB_Director] FOR LOGIN [DB_Director] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DB_Client]    Script Date: 26.06.2026 10:23:34 ******/
CREATE USER [DB_Client] FOR LOGIN [DB_Client] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DB_Accountant]    Script Date: 26.06.2026 10:23:34 ******/
CREATE USER [DB_Accountant] FOR LOGIN [DB_Accountant] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [client1]    Script Date: 26.06.2026 10:23:34 ******/
CREATE USER [client1] FOR LOGIN [client1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Role_Storekeeper]    Script Date: 26.06.2026 10:23:34 ******/
CREATE ROLE [Role_Storekeeper]
GO
/****** Object:  DatabaseRole [Role_Manager]    Script Date: 26.06.2026 10:23:34 ******/
CREATE ROLE [Role_Manager]
GO
/****** Object:  DatabaseRole [Role_Client]    Script Date: 26.06.2026 10:23:34 ******/
CREATE ROLE [Role_Client]
GO
/****** Object:  DatabaseRole [Role_Accountant]    Script Date: 26.06.2026 10:23:34 ******/
CREATE ROLE [Role_Accountant]
GO
ALTER ROLE [Role_Manager] ADD MEMBER [volkov]
GO
ALTER ROLE [Role_Accountant] ADD MEMBER [sidorov]
GO
ALTER ROLE [Role_Storekeeper] ADD MEMBER [petrova]
GO
ALTER ROLE [Role_Manager] ADD MEMBER [ivanov]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DB_Storekeeper]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [DB_Storekeeper]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DB_Manager]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [DB_Manager]
GO
ALTER ROLE [db_owner] ADD MEMBER [DB_Director]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [DB_Accountant]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DB_Accountant]
GO
ALTER ROLE [Role_Client] ADD MEMBER [client1]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 26.06.2026 10:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[КодКлиента] [int] IDENTITY(1,1) NOT NULL,
	[ТипКлиента] [nvarchar](20) NOT NULL,
	[Наименование] [nvarchar](200) NOT NULL,
	[ИНН] [nvarchar](20) NULL,
	[КонтактноеЛицо] [nvarchar](100) NULL,
	[Телефон] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Адрес] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[КодКлиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 26.06.2026 10:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[НомерЗаказа] [int] IDENTITY(1,1) NOT NULL,
	[КодКлиента] [int] NOT NULL,
	[ДатаЗаказа] [date] NOT NULL,
	[ДатаОтгрузкиПлановая] [date] NULL,
	[СтатусЗаказа] [nvarchar](30) NOT NULL,
	[ОбщаяСумма] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[НомерЗаказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[АктивныеЗаказы]    Script Date: 26.06.2026 10:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[АктивныеЗаказы] AS
SELECT 
    Заказы.НомерЗаказа,
    Клиенты.Наименование AS Клиент,
    Заказы.ДатаЗаказа,
    Заказы.ОбщаяСумма
FROM Заказы
JOIN Клиенты ON Заказы.КодКлиента = Клиенты.КодКлиента
WHERE Заказы.СтатусЗаказа IN ('Новый', 'В работе');
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 26.06.2026 10:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[КодТовара] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](255) NOT NULL,
	[Артикул] [nvarchar](50) NULL,
	[Группа] [nvarchar](100) NULL,
	[ЕдиницаИзмерения] [nvarchar](10) NOT NULL,
	[ЕдиницаИзмерения2] [nvarchar](10) NULL,
	[ОбъемЗнаменатель] [decimal](18, 3) NULL,
	[ОбъемЧислитель] [decimal](18, 3) NULL,
	[Цена] [decimal](18, 2) NOT NULL,
	[Активен] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодТовара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Склады]    Script Date: 26.06.2026 10:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Склады](
	[КодСклада] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Адрес] [nvarchar](255) NULL,
	[Ответственный] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[КодСклада] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ОстаткиТоваров]    Script Date: 26.06.2026 10:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ОстаткиТоваров](
	[КодОстатка] [int] IDENTITY(1,1) NOT NULL,
	[КодСклада] [int] NOT NULL,
	[КодТовара] [int] NOT NULL,
	[Количество] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодОстатка] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ОстаткиПоСкладам]    Script Date: 26.06.2026 10:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ОстаткиПоСкладам] AS
SELECT 
    Склады.Название AS Склад,
    Товары.Наименование AS Товар,
    ОстаткиТоваров.Количество
FROM ОстаткиТоваров
JOIN Склады ON ОстаткиТоваров.КодСклада = Склады.КодСклада
JOIN Товары ON ОстаткиТоваров.КодТовара = Товары.КодТовара;
GO
/****** Object:  Table [dbo].[Оплаты]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Оплаты](
	[КодОплаты] [int] IDENTITY(1,1) NOT NULL,
	[НомерЗаказа] [int] NOT NULL,
	[Сумма] [decimal](18, 2) NOT NULL,
	[ДатаОплаты] [date] NOT NULL,
	[СпособОплаты] [nvarchar](30) NOT NULL,
	[СтатусОплаты] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодОплаты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ФинансовыеИтогиПоКлиентам]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ФинансовыеИтогиПоКлиентам] AS
SELECT 
    Клиенты.Наименование AS Клиент,
    SUM(Заказы.ОбщаяСумма) AS ОбщаяСуммаЗаказов,
    SUM(Оплаты.Сумма) AS Оплачено,
    SUM(Заказы.ОбщаяСумма) - SUM(Оплаты.Сумма) AS Задолженность
FROM Клиенты
LEFT JOIN Заказы ON Клиенты.КодКлиента = Заказы.КодКлиента
LEFT JOIN Оплаты ON Заказы.НомерЗаказа = Оплаты.НомерЗаказа
GROUP BY Клиенты.Наименование;
GO
/****** Object:  Table [dbo].[Отгрузки]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отгрузки](
	[КодОтгрузки] [int] IDENTITY(1,1) NOT NULL,
	[НомерЗаказа] [int] NOT NULL,
	[КодСотрудника] [int] NOT NULL,
	[ДатаОтгрузки] [date] NOT NULL,
	[СтатусОтгрузки] [nvarchar](30) NOT NULL,
	[КодТК] [int] NULL,
	[НомерТранспортнойНакладной] [nvarchar](50) NULL,
 CONSTRAINT [PK__Отгрузки__371720882150009E] PRIMARY KEY CLUSTERED 
(
	[КодОтгрузки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ОтгрузкиЗа30Дней]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ОтгрузкиЗа30Дней] AS
SELECT * FROM Отгрузки
WHERE ДатаОтгрузки >= DATEADD(DAY, -30, GETDATE());
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[КодПользователя] [int] IDENTITY(1,1) NOT NULL,
	[КодСотрудника] [int] NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
	[Должность] [nvarchar](30) NOT NULL,
	[Активен] [bit] NOT NULL,
	[ДатаРегистрации] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодПользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СоставОтгрузки]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СоставОтгрузки](
	[КодЗаписи] [int] IDENTITY(1,1) NOT NULL,
	[КодОтгрузки] [int] NOT NULL,
	[КодТовара] [int] NOT NULL,
	[КодСклада] [int] NOT NULL,
	[Количество] [decimal](18, 3) NOT NULL,
	[ЦенаНаМоментЗагрузки] [decimal](18, 2) NOT NULL,
	[Сумма] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодЗаписи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[КодСотрудника] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Должность] [nvarchar](50) NOT NULL,
	[Отдел] [nvarchar](50) NULL,
	[Телефон] [nvarchar](20) NULL,
	[ДатаПриёма] [date] NOT NULL,
	[Активен] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодСотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТранспортныеКомпании]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТранспортныеКомпании](
	[КодТК] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](150) NOT NULL,
	[КонтактноеЛицо] [nvarchar](100) NULL,
	[Телефон] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Активна] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодТК] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Заказы] ON 

INSERT [dbo].[Заказы] ([НомерЗаказа], [КодКлиента], [ДатаЗаказа], [ДатаОтгрузкиПлановая], [СтатусЗаказа], [ОбщаяСумма]) VALUES (1, 1, CAST(N'2026-06-01' AS Date), CAST(N'2026-06-10' AS Date), N'Отгружен', CAST(145000.00 AS Decimal(18, 2)))
INSERT [dbo].[Заказы] ([НомерЗаказа], [КодКлиента], [ДатаЗаказа], [ДатаОтгрузкиПлановая], [СтатусЗаказа], [ОбщаяСумма]) VALUES (2, 2, CAST(N'2026-06-05' AS Date), CAST(N'2026-06-15' AS Date), N'В работе', CAST(98000.00 AS Decimal(18, 2)))
INSERT [dbo].[Заказы] ([НомерЗаказа], [КодКлиента], [ДатаЗаказа], [ДатаОтгрузкиПлановая], [СтатусЗаказа], [ОбщаяСумма]) VALUES (3, 3, CAST(N'2026-06-07' AS Date), CAST(N'2026-06-12' AS Date), N'Отгружен', CAST(52000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Заказы] OFF
GO
SET IDENTITY_INSERT [dbo].[Клиенты] ON 

INSERT [dbo].[Клиенты] ([КодКлиента], [ТипКлиента], [Наименование], [ИНН], [КонтактноеЛицо], [Телефон], [Email], [Адрес]) VALUES (1, N'Организация', N'ООО "СтройКомплект"', N'1234567890', N'Иванов Иван', N'8-912-345-67-89', N'info@stroykom.ru', N'г. Киров, ул. Ленина, д.1')
INSERT [dbo].[Клиенты] ([КодКлиента], [ТипКлиента], [Наименование], [ИНН], [КонтактноеЛицо], [Телефон], [Email], [Адрес]) VALUES (2, N'Организация', N'ООО "Мебельный мир"', N'9876543210', N'Петров Петр', N'8-912-555-12-34', N'info@mebmir.ru', N'г. Киров, ул. Советская, д.50')
INSERT [dbo].[Клиенты] ([КодКлиента], [ТипКлиента], [Наименование], [ИНН], [КонтактноеЛицо], [Телефон], [Email], [Адрес]) VALUES (3, N'Организация', N'ИП Строитель', N'4567891230', N'Сидоров Сергей', N'8-912-777-45-67', N'ipstroitel@mail.ru', N'г. Слободской, ул. Рабочая, д.15')
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
GO
SET IDENTITY_INSERT [dbo].[Оплаты] ON 

INSERT [dbo].[Оплаты] ([КодОплаты], [НомерЗаказа], [Сумма], [ДатаОплаты], [СпособОплаты], [СтатусОплаты]) VALUES (1, 1, CAST(145000.00 AS Decimal(18, 2)), CAST(N'2026-06-02' AS Date), N'Безналичный', N'Проведена')
INSERT [dbo].[Оплаты] ([КодОплаты], [НомерЗаказа], [Сумма], [ДатаОплаты], [СпособОплаты], [СтатусОплаты]) VALUES (2, 3, CAST(52000.00 AS Decimal(18, 2)), CAST(N'2026-06-08' AS Date), N'Безналичный', N'Проведена')
INSERT [dbo].[Оплаты] ([КодОплаты], [НомерЗаказа], [Сумма], [ДатаОплаты], [СпособОплаты], [СтатусОплаты]) VALUES (3, 2, CAST(50000.00 AS Decimal(18, 2)), CAST(N'2026-06-06' AS Date), N'Безналичный', N'Проведена')
SET IDENTITY_INSERT [dbo].[Оплаты] OFF
GO
SET IDENTITY_INSERT [dbo].[ОстаткиТоваров] ON 

INSERT [dbo].[ОстаткиТоваров] ([КодОстатка], [КодСклада], [КодТовара], [Количество]) VALUES (1, 1, 1, CAST(1500.000 AS Decimal(18, 3)))
INSERT [dbo].[ОстаткиТоваров] ([КодОстатка], [КодСклада], [КодТовара], [Количество]) VALUES (2, 1, 2, CAST(1200.000 AS Decimal(18, 3)))
INSERT [dbo].[ОстаткиТоваров] ([КодОстатка], [КодСклада], [КодТовара], [Количество]) VALUES (3, 1, 3, CAST(800.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[ОстаткиТоваров] OFF
GO
SET IDENTITY_INSERT [dbo].[Отгрузки] ON 

INSERT [dbo].[Отгрузки] ([КодОтгрузки], [НомерЗаказа], [КодСотрудника], [ДатаОтгрузки], [СтатусОтгрузки], [КодТК], [НомерТранспортнойНакладной]) VALUES (1, 1, 2, CAST(N'2026-06-10' AS Date), N'Выполнена', 1, N'ТТН-001234')
INSERT [dbo].[Отгрузки] ([КодОтгрузки], [НомерЗаказа], [КодСотрудника], [ДатаОтгрузки], [СтатусОтгрузки], [КодТК], [НомерТранспортнойНакладной]) VALUES (2, 3, 2, CAST(N'2026-06-12' AS Date), N'Выполнена', 2, N'ТТН-005678')
INSERT [dbo].[Отгрузки] ([КодОтгрузки], [НомерЗаказа], [КодСотрудника], [ДатаОтгрузки], [СтатусОтгрузки], [КодТК], [НомерТранспортнойНакладной]) VALUES (3, 2, 2, CAST(N'2026-06-15' AS Date), N'В процессе', 1, N'ТТН-009876')
SET IDENTITY_INSERT [dbo].[Отгрузки] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([КодПользователя], [КодСотрудника], [Логин], [Пароль], [Должность], [Активен], [ДатаРегистрации]) VALUES (18, 1, N'ivanov', N'pass300', N'Менеджер', 1, CAST(N'2026-06-18T23:14:06.960' AS DateTime))
INSERT [dbo].[Пользователи] ([КодПользователя], [КодСотрудника], [Логин], [Пароль], [Должность], [Активен], [ДатаРегистрации]) VALUES (19, 2, N'petrova', N'pass301', N'Кладовщик', 1, CAST(N'2026-06-18T23:14:06.960' AS DateTime))
INSERT [dbo].[Пользователи] ([КодПользователя], [КодСотрудника], [Логин], [Пароль], [Должность], [Активен], [ДатаРегистрации]) VALUES (20, 3, N'sidorov', N'pass302', N'Бухгалтер', 1, CAST(N'2026-06-18T23:14:06.960' AS DateTime))
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Склады] ON 

INSERT [dbo].[Склады] ([КодСклада], [Название], [Адрес], [Ответственный]) VALUES (1, N'Склад готовой продукции №1', N'г. Слободской, ул. Советская, 132', 2)
INSERT [dbo].[Склады] ([КодСклада], [Название], [Адрес], [Ответственный]) VALUES (2, N'Склад готовой продукции №2', N'г. Слободской, ул. Советская, 132', 2)
INSERT [dbo].[Склады] ([КодСклада], [Название], [Адрес], [Ответственный]) VALUES (3, N'Склад сырья', N'г. Слободской, ул. Заводская, 5', 2)
SET IDENTITY_INSERT [dbo].[Склады] OFF
GO
SET IDENTITY_INSERT [dbo].[СоставОтгрузки] ON 

INSERT [dbo].[СоставОтгрузки] ([КодЗаписи], [КодОтгрузки], [КодТовара], [КодСклада], [Количество], [ЦенаНаМоментЗагрузки], [Сумма]) VALUES (1, 1, 1, 1, CAST(400.000 AS Decimal(18, 3)), CAST(290.00 AS Decimal(18, 2)), CAST(116000.00 AS Decimal(18, 2)))
INSERT [dbo].[СоставОтгрузки] ([КодЗаписи], [КодОтгрузки], [КодТовара], [КодСклада], [Количество], [ЦенаНаМоментЗагрузки], [Сумма]) VALUES (2, 1, 2, 1, CAST(100.000 AS Decimal(18, 3)), CAST(350.00 AS Decimal(18, 2)), CAST(35000.00 AS Decimal(18, 2)))
INSERT [dbo].[СоставОтгрузки] ([КодЗаписи], [КодОтгрузки], [КодТовара], [КодСклада], [Количество], [ЦенаНаМоментЗагрузки], [Сумма]) VALUES (3, 2, 3, 2, CAST(130.000 AS Decimal(18, 3)), CAST(400.00 AS Decimal(18, 2)), CAST(52000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[СоставОтгрузки] OFF
GO
SET IDENTITY_INSERT [dbo].[Сотрудники] ON 

INSERT [dbo].[Сотрудники] ([КодСотрудника], [Фамилия], [Имя], [Отчество], [Должность], [Отдел], [Телефон], [ДатаПриёма], [Активен]) VALUES (1, N'Иванов', N'Иван', N'Иванович', N'Менеджер по продажам', N'Отдел продаж', N'8-912-111-22-33', CAST(N'2023-01-15' AS Date), 1)
INSERT [dbo].[Сотрудники] ([КодСотрудника], [Фамилия], [Имя], [Отчество], [Должность], [Отдел], [Телефон], [ДатаПриёма], [Активен]) VALUES (2, N'Петрова', N'Ольга', N'Сергеевна', N'Кладовщик', N'Склад', N'8-912-222-33-44', CAST(N'2023-03-01' AS Date), 1)
INSERT [dbo].[Сотрудники] ([КодСотрудника], [Фамилия], [Имя], [Отчество], [Должность], [Отдел], [Телефон], [ДатаПриёма], [Активен]) VALUES (3, N'Сидоров', N'Петр', N'Алексеевич', N'Бухгалтер', N'Бухгалтерия', N'8-912-333-44-55', CAST(N'2022-06-01' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Сотрудники] OFF
GO
SET IDENTITY_INSERT [dbo].[Товары] ON 

INSERT [dbo].[Товары] ([КодТовара], [Наименование], [Артикул], [Группа], [ЕдиницаИзмерения], [ЕдиницаИзмерения2], [ОбъемЗнаменатель], [ОбъемЧислитель], [Цена], [Активен]) VALUES (1, N'Фанера березовая ФК I/II 8мм 1525х1525мм Ш2', N'бфк-1208', N'ФАНЕРА БЕРЕЗОВАЯ', N'л.', N'м3', CAST(100.000 AS Decimal(18, 3)), CAST(1.860 AS Decimal(18, 3)), CAST(199.50 AS Decimal(18, 2)), 1)
INSERT [dbo].[Товары] ([КодТовара], [Наименование], [Артикул], [Группа], [ЕдиницаИзмерения], [ЕдиницаИзмерения2], [ОбъемЗнаменатель], [ОбъемЧислитель], [Цена], [Активен]) VALUES (2, N'Фанера березовая ФК I/II 10мм 1525х1525мм Ш2', N'бфк-1210', N'ФАНЕРА БЕРЕЗОВАЯ', N'л.', N'м3', CAST(100.000 AS Decimal(18, 3)), CAST(2.326 AS Decimal(18, 3)), CAST(232.75 AS Decimal(18, 2)), 1)
INSERT [dbo].[Товары] ([КодТовара], [Наименование], [Артикул], [Группа], [ЕдиницаИзмерения], [ЕдиницаИзмерения2], [ОбъемЗнаменатель], [ОбъемЧислитель], [Цена], [Активен]) VALUES (3, N'Фанера березовая ФК I/II 12мм 1525х1525мм Ш2', N'бфк-1212', N'ФАНЕРА БЕРЕЗОВАЯ', N'л.', N'м3', CAST(100.000 AS Decimal(18, 3)), CAST(2.791 AS Decimal(18, 3)), CAST(266.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Товары] OFF
GO
SET IDENTITY_INSERT [dbo].[ТранспортныеКомпании] ON 

INSERT [dbo].[ТранспортныеКомпании] ([КодТК], [Название], [КонтактноеЛицо], [Телефон], [Email], [Активна]) VALUES (1, N'Деловые линии', N'Петрова Анна', N'8-800-123-45-67', N'info@dellin.ru', 1)
INSERT [dbo].[ТранспортныеКомпании] ([КодТК], [Название], [КонтактноеЛицо], [Телефон], [Email], [Активна]) VALUES (2, N'ПЭК', N'Сидоров Игорь', N'8-800-234-56-78', N'info@pek.ru', 1)
INSERT [dbo].[ТранспортныеКомпании] ([КодТК], [Название], [КонтактноеЛицо], [Телефон], [Email], [Активна]) VALUES (3, N'КИТ', N'Козлов Дмитрий', N'8-800-345-67-89', N'info@kit.ru', 1)
SET IDENTITY_INSERT [dbo].[ТранспортныеКомпании] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__BC2217D39B1A49B0]    Script Date: 26.06.2026 10:23:35 ******/
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Товары] ADD  DEFAULT ((1)) FOR [Активен]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Клиенты] FOREIGN KEY([КодКлиента])
REFERENCES [dbo].[Клиенты] ([КодКлиента])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Клиенты]
GO
ALTER TABLE [dbo].[Оплаты]  WITH CHECK ADD  CONSTRAINT [FK_Оплаты_Заказы] FOREIGN KEY([НомерЗаказа])
REFERENCES [dbo].[Заказы] ([НомерЗаказа])
GO
ALTER TABLE [dbo].[Оплаты] CHECK CONSTRAINT [FK_Оплаты_Заказы]
GO
ALTER TABLE [dbo].[ОстаткиТоваров]  WITH CHECK ADD  CONSTRAINT [FK_ОстаткиТоваров_Склады] FOREIGN KEY([КодСклада])
REFERENCES [dbo].[Склады] ([КодСклада])
GO
ALTER TABLE [dbo].[ОстаткиТоваров] CHECK CONSTRAINT [FK_ОстаткиТоваров_Склады]
GO
ALTER TABLE [dbo].[ОстаткиТоваров]  WITH CHECK ADD  CONSTRAINT [FK_ОстаткиТоваров_Товары] FOREIGN KEY([КодТовара])
REFERENCES [dbo].[Товары] ([КодТовара])
GO
ALTER TABLE [dbo].[ОстаткиТоваров] CHECK CONSTRAINT [FK_ОстаткиТоваров_Товары]
GO
ALTER TABLE [dbo].[Отгрузки]  WITH CHECK ADD  CONSTRAINT [FK_Отгрузки_Заказы] FOREIGN KEY([НомерЗаказа])
REFERENCES [dbo].[Заказы] ([НомерЗаказа])
GO
ALTER TABLE [dbo].[Отгрузки] CHECK CONSTRAINT [FK_Отгрузки_Заказы]
GO
ALTER TABLE [dbo].[Отгрузки]  WITH CHECK ADD  CONSTRAINT [FK_Отгрузки_Сотрудники] FOREIGN KEY([КодСотрудника])
REFERENCES [dbo].[Сотрудники] ([КодСотрудника])
GO
ALTER TABLE [dbo].[Отгрузки] CHECK CONSTRAINT [FK_Отгрузки_Сотрудники]
GO
ALTER TABLE [dbo].[Отгрузки]  WITH CHECK ADD  CONSTRAINT [FK_Отгрузки_ТранспортныеКомпании] FOREIGN KEY([КодТК])
REFERENCES [dbo].[ТранспортныеКомпании] ([КодТК])
GO
ALTER TABLE [dbo].[Отгрузки] CHECK CONSTRAINT [FK_Отгрузки_ТранспортныеКомпании]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Сотрудники] FOREIGN KEY([КодСотрудника])
REFERENCES [dbo].[Сотрудники] ([КодСотрудника])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Сотрудники]
GO
ALTER TABLE [dbo].[Склады]  WITH CHECK ADD  CONSTRAINT [FK_Склады_Сотрудники] FOREIGN KEY([Ответственный])
REFERENCES [dbo].[Сотрудники] ([КодСотрудника])
GO
ALTER TABLE [dbo].[Склады] CHECK CONSTRAINT [FK_Склады_Сотрудники]
GO
ALTER TABLE [dbo].[СоставОтгрузки]  WITH CHECK ADD  CONSTRAINT [FK_СоставОтгрузки_Отгрузки] FOREIGN KEY([КодОтгрузки])
REFERENCES [dbo].[Отгрузки] ([КодОтгрузки])
GO
ALTER TABLE [dbo].[СоставОтгрузки] CHECK CONSTRAINT [FK_СоставОтгрузки_Отгрузки]
GO
ALTER TABLE [dbo].[СоставОтгрузки]  WITH CHECK ADD  CONSTRAINT [FK_СоставОтгрузки_Склады] FOREIGN KEY([КодСклада])
REFERENCES [dbo].[Склады] ([КодСклада])
GO
ALTER TABLE [dbo].[СоставОтгрузки] CHECK CONSTRAINT [FK_СоставОтгрузки_Склады]
GO
ALTER TABLE [dbo].[СоставОтгрузки]  WITH CHECK ADD  CONSTRAINT [FK_СоставОтгрузки_Товары] FOREIGN KEY([КодТовара])
REFERENCES [dbo].[Товары] ([КодТовара])
GO
ALTER TABLE [dbo].[СоставОтгрузки] CHECK CONSTRAINT [FK_СоставОтгрузки_Товары]
GO
/****** Object:  StoredProcedure [dbo].[ДобавитьЗаказ]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавитьЗаказ]
    @КодКлиента INT,
    @ДатаОтгрузкиПлановая DATE,
    @ОбщаяСумма DECIMAL(18,2)
AS
BEGIN
    INSERT INTO Заказы (КодКлиента, ДатаЗаказа, ДатаОтгрузкиПлановая, СтатусЗаказа, ОбщаяСумма)
    VALUES (@КодКлиента, GETDATE(), @ДатаОтгрузкиПлановая, 'Новый', @ОбщаяСумма);
END;
GO
/****** Object:  StoredProcedure [dbo].[ИзменитьСтатусЗаказа]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ИзменитьСтатусЗаказа]
    @НомерЗаказа INT,
    @НовыйСтатус NVARCHAR(30)
AS
BEGIN
    UPDATE Заказы SET СтатусЗаказа = @НовыйСтатус WHERE НомерЗаказа = @НомерЗаказа;
END;
GO
/****** Object:  StoredProcedure [dbo].[ОтчетПоПродажам]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ОтчетПоПродажам]
    @ДатаНачала DATE,
    @ДатаКонца DATE
AS
BEGIN
    SELECT 
        Клиенты.Наименование AS Клиент,
        SUM(СоставОтгрузки.Сумма) AS Итого
    FROM Отгрузки
    JOIN Заказы ON Отгрузки.НомерЗаказа = Заказы.НомерЗаказа
    JOIN Клиенты ON Заказы.КодКлиента = Клиенты.КодКлиента
    JOIN СоставОтгрузки ON Отгрузки.КодОтгрузки = СоставОтгрузки.КодОтгрузки
    WHERE Отгрузки.ДатаОтгрузки BETWEEN @ДатаНачала AND @ДатаКонца
    GROUP BY Клиенты.Наименование
    ORDER BY Итого DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[ПолучитьОстаткиТовара]    Script Date: 26.06.2026 10:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ПолучитьОстаткиТовара]
    @КодТовара INT
AS
BEGIN
    SELECT 
        Склады.Название AS Склад,
        ОстаткиТоваров.Количество
    FROM ОстаткиТоваров
    JOIN Склады ON ОстаткиТоваров.КодСклада = Склады.КодСклада
    WHERE ОстаткиТоваров.КодТовара = @КодТовара;
END;
GO
USE [master]
GO
