USE [master]
GO
/****** Object:  Database [КрасныйЯкорь]    Script Date: 26.06.2026 10:24:53 ******/
CREATE DATABASE [КрасныйЯкорь]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'КрасныйЯкорь', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\КрасныйЯкорь.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'КрасныйЯкорь_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\КрасныйЯкорь_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [КрасныйЯкорь].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [КрасныйЯкорь]
GO
/****** Object:  User [volkov]    Script Date: 26.06.2026 10:24:54 ******/
CREATE USER [volkov] FOR LOGIN [volkov] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [sidorov]    Script Date: 26.06.2026 10:24:54 ******/
CREATE USER [sidorov] FOR LOGIN [sidorov] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [petrova]    Script Date: 26.06.2026 10:24:54 ******/
CREATE USER [petrova] FOR LOGIN [petrova] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [nikolaeva]    Script Date: 26.06.2026 10:24:54 ******/
CREATE USER [nikolaeva] FOR LOGIN [nikolaeva] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ivanov]    Script Date: 26.06.2026 10:24:54 ******/
CREATE USER [ivanov] FOR LOGIN [ivanov] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DB_Storekeeper]    Script Date: 26.06.2026 10:24:54 ******/
CREATE USER [DB_Storekeeper] FOR LOGIN [DB_Storekeeper] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DB_Manager]    Script Date: 26.06.2026 10:24:54 ******/
CREATE USER [DB_Manager] FOR LOGIN [DB_Manager] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DB_Director]    Script Date: 26.06.2026 10:24:54 ******/
CREATE USER [DB_Director] FOR LOGIN [DB_Director] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DB_Client]    Script Date: 26.06.2026 10:24:54 ******/
CREATE USER [DB_Client] FOR LOGIN [DB_Client] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DB_Accountant]    Script Date: 26.06.2026 10:24:54 ******/
CREATE USER [DB_Accountant] FOR LOGIN [DB_Accountant] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [client1]    Script Date: 26.06.2026 10:24:54 ******/
CREATE USER [client1] FOR LOGIN [client1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Role_Storekeeper]    Script Date: 26.06.2026 10:24:54 ******/
CREATE ROLE [Role_Storekeeper]
GO
/****** Object:  DatabaseRole [Role_Manager]    Script Date: 26.06.2026 10:24:54 ******/
CREATE ROLE [Role_Manager]
GO
/****** Object:  DatabaseRole [Role_Client]    Script Date: 26.06.2026 10:24:54 ******/
CREATE ROLE [Role_Client]
GO
/****** Object:  DatabaseRole [Role_Accountant]    Script Date: 26.06.2026 10:24:54 ******/
CREATE ROLE [Role_Accountant]
GO
ALTER ROLE [Role_Manager] ADD MEMBER [volkov]
GO
ALTER ROLE [Role_Accountant] ADD MEMBER [sidorov]
GO
ALTER ROLE [Role_Storekeeper] ADD MEMBER [petrova]
GO
ALTER ROLE [Role_Manager] ADD MEMBER [ivanov]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DB_Storekeeper]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [DB_Storekeeper]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DB_Manager]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [DB_Manager]
GO
ALTER ROLE [db_owner] ADD MEMBER [DB_Director]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [DB_Accountant]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DB_Accountant]
GO
ALTER ROLE [Role_Client] ADD MEMBER [client1]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[КодКлиента] [int] IDENTITY(1,1) NOT NULL,
	[ТипКлиента] [nvarchar](20) NOT NULL,
	[Наименование] [nvarchar](200) NOT NULL,
	[ИНН] [nvarchar](20) NULL,
	[КонтактноеЛицо] [nvarchar](100) NULL,
	[Телефон] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Адрес] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[КодКлиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[НомерЗаказа] [int] IDENTITY(1,1) NOT NULL,
	[КодКлиента] [int] NOT NULL,
	[ДатаЗаказа] [date] NOT NULL,
	[ДатаОтгрузкиПлановая] [date] NULL,
	[СтатусЗаказа] [nvarchar](30) NOT NULL,
	[ОбщаяСумма] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[НомерЗаказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[АктивныеЗаказы]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[АктивныеЗаказы] AS
SELECT 
    Заказы.НомерЗаказа,
    Клиенты.Наименование AS Клиент,
    Заказы.ДатаЗаказа,
    Заказы.ОбщаяСумма
FROM Заказы
JOIN Клиенты ON Заказы.КодКлиента = Клиенты.КодКлиента
WHERE Заказы.СтатусЗаказа IN ('Новый', 'В работе');
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[КодТовара] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](255) NOT NULL,
	[Артикул] [nvarchar](50) NULL,
	[Группа] [nvarchar](100) NULL,
	[ЕдиницаИзмерения] [nvarchar](10) NOT NULL,
	[ЕдиницаИзмерения2] [nvarchar](10) NULL,
	[ОбъемЗнаменатель] [decimal](18, 3) NULL,
	[ОбъемЧислитель] [decimal](18, 3) NULL,
	[Цена] [decimal](18, 2) NOT NULL,
	[Активен] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодТовара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Склады]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Склады](
	[КодСклада] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Адрес] [nvarchar](255) NULL,
	[Ответственный] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[КодСклада] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ОстаткиТоваров]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ОстаткиТоваров](
	[КодОстатка] [int] IDENTITY(1,1) NOT NULL,
	[КодСклада] [int] NOT NULL,
	[КодТовара] [int] NOT NULL,
	[Количество] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодОстатка] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ОстаткиПоСкладам]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ОстаткиПоСкладам] AS
SELECT 
    Склады.Название AS Склад,
    Товары.Наименование AS Товар,
    ОстаткиТоваров.Количество
FROM ОстаткиТоваров
JOIN Склады ON ОстаткиТоваров.КодСклада = Склады.КодСклада
JOIN Товары ON ОстаткиТоваров.КодТовара = Товары.КодТовара;
GO
/****** Object:  Table [dbo].[Оплаты]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Оплаты](
	[КодОплаты] [int] IDENTITY(1,1) NOT NULL,
	[НомерЗаказа] [int] NOT NULL,
	[Сумма] [decimal](18, 2) NOT NULL,
	[ДатаОплаты] [date] NOT NULL,
	[СпособОплаты] [nvarchar](30) NOT NULL,
	[СтатусОплаты] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодОплаты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ФинансовыеИтогиПоКлиентам]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ФинансовыеИтогиПоКлиентам] AS
SELECT 
    Клиенты.Наименование AS Клиент,
    SUM(Заказы.ОбщаяСумма) AS ОбщаяСуммаЗаказов,
    SUM(Оплаты.Сумма) AS Оплачено,
    SUM(Заказы.ОбщаяСумма) - SUM(Оплаты.Сумма) AS Задолженность
FROM Клиенты
LEFT JOIN Заказы ON Клиенты.КодКлиента = Заказы.КодКлиента
LEFT JOIN Оплаты ON Заказы.НомерЗаказа = Оплаты.НомерЗаказа
GROUP BY Клиенты.Наименование;
GO
/****** Object:  Table [dbo].[Отгрузки]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отгрузки](
	[КодОтгрузки] [int] IDENTITY(1,1) NOT NULL,
	[НомерЗаказа] [int] NOT NULL,
	[КодСотрудника] [int] NOT NULL,
	[ДатаОтгрузки] [date] NOT NULL,
	[СтатусОтгрузки] [nvarchar](30) NOT NULL,
	[КодТК] [int] NULL,
	[НомерТранспортнойНакладной] [nvarchar](50) NULL,
 CONSTRAINT [PK__Отгрузки__371720882150009E] PRIMARY KEY CLUSTERED 
(
	[КодОтгрузки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ОтгрузкиЗа30Дней]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ОтгрузкиЗа30Дней] AS
SELECT * FROM Отгрузки
WHERE ДатаОтгрузки >= DATEADD(DAY, -30, GETDATE());
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[КодПользователя] [int] IDENTITY(1,1) NOT NULL,
	[КодСотрудника] [int] NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
	[Должность] [nvarchar](30) NOT NULL,
	[Активен] [bit] NOT NULL,
	[ДатаРегистрации] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодПользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СоставОтгрузки]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СоставОтгрузки](
	[КодЗаписи] [int] IDENTITY(1,1) NOT NULL,
	[КодОтгрузки] [int] NOT NULL,
	[КодТовара] [int] NOT NULL,
	[КодСклада] [int] NOT NULL,
	[Количество] [decimal](18, 3) NOT NULL,
	[ЦенаНаМоментЗагрузки] [decimal](18, 2) NOT NULL,
	[Сумма] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодЗаписи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[КодСотрудника] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Должность] [nvarchar](50) NOT NULL,
	[Отдел] [nvarchar](50) NULL,
	[Телефон] [nvarchar](20) NULL,
	[ДатаПриёма] [date] NOT NULL,
	[Активен] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодСотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТранспортныеКомпании]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТранспортныеКомпании](
	[КодТК] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](150) NOT NULL,
	[КонтактноеЛицо] [nvarchar](100) NULL,
	[Телефон] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Активна] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодТК] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Товары] ADD  DEFAULT ((1)) FOR [Активен]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Клиенты] FOREIGN KEY([КодКлиента])
REFERENCES [dbo].[Клиенты] ([КодКлиента])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Клиенты]
GO
ALTER TABLE [dbo].[Оплаты]  WITH CHECK ADD  CONSTRAINT [FK_Оплаты_Заказы] FOREIGN KEY([НомерЗаказа])
REFERENCES [dbo].[Заказы] ([НомерЗаказа])
GO
ALTER TABLE [dbo].[Оплаты] CHECK CONSTRAINT [FK_Оплаты_Заказы]
GO
ALTER TABLE [dbo].[ОстаткиТоваров]  WITH CHECK ADD  CONSTRAINT [FK_ОстаткиТоваров_Склады] FOREIGN KEY([КодСклада])
REFERENCES [dbo].[Склады] ([КодСклада])
GO
ALTER TABLE [dbo].[ОстаткиТоваров] CHECK CONSTRAINT [FK_ОстаткиТоваров_Склады]
GO
ALTER TABLE [dbo].[ОстаткиТоваров]  WITH CHECK ADD  CONSTRAINT [FK_ОстаткиТоваров_Товары] FOREIGN KEY([КодТовара])
REFERENCES [dbo].[Товары] ([КодТовара])
GO
ALTER TABLE [dbo].[ОстаткиТоваров] CHECK CONSTRAINT [FK_ОстаткиТоваров_Товары]
GO
ALTER TABLE [dbo].[Отгрузки]  WITH CHECK ADD  CONSTRAINT [FK_Отгрузки_Заказы] FOREIGN KEY([НомерЗаказа])
REFERENCES [dbo].[Заказы] ([НомерЗаказа])
GO
ALTER TABLE [dbo].[Отгрузки] CHECK CONSTRAINT [FK_Отгрузки_Заказы]
GO
ALTER TABLE [dbo].[Отгрузки]  WITH CHECK ADD  CONSTRAINT [FK_Отгрузки_Сотрудники] FOREIGN KEY([КодСотрудника])
REFERENCES [dbo].[Сотрудники] ([КодСотрудника])
GO
ALTER TABLE [dbo].[Отгрузки] CHECK CONSTRAINT [FK_Отгрузки_Сотрудники]
GO
ALTER TABLE [dbo].[Отгрузки]  WITH CHECK ADD  CONSTRAINT [FK_Отгрузки_ТранспортныеКомпании] FOREIGN KEY([КодТК])
REFERENCES [dbo].[ТранспортныеКомпании] ([КодТК])
GO
ALTER TABLE [dbo].[Отгрузки] CHECK CONSTRAINT [FK_Отгрузки_ТранспортныеКомпании]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Сотрудники] FOREIGN KEY([КодСотрудника])
REFERENCES [dbo].[Сотрудники] ([КодСотрудника])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Сотрудники]
GO
ALTER TABLE [dbo].[Склады]  WITH CHECK ADD  CONSTRAINT [FK_Склады_Сотрудники] FOREIGN KEY([Ответственный])
REFERENCES [dbo].[Сотрудники] ([КодСотрудника])
GO
ALTER TABLE [dbo].[Склады] CHECK CONSTRAINT [FK_Склады_Сотрудники]
GO
ALTER TABLE [dbo].[СоставОтгрузки]  WITH CHECK ADD  CONSTRAINT [FK_СоставОтгрузки_Отгрузки] FOREIGN KEY([КодОтгрузки])
REFERENCES [dbo].[Отгрузки] ([КодОтгрузки])
GO
ALTER TABLE [dbo].[СоставОтгрузки] CHECK CONSTRAINT [FK_СоставОтгрузки_Отгрузки]
GO
ALTER TABLE [dbo].[СоставОтгрузки]  WITH CHECK ADD  CONSTRAINT [FK_СоставОтгрузки_Склады] FOREIGN KEY([КодСклада])
REFERENCES [dbo].[Склады] ([КодСклада])
GO
ALTER TABLE [dbo].[СоставОтгрузки] CHECK CONSTRAINT [FK_СоставОтгрузки_Склады]
GO
ALTER TABLE [dbo].[СоставОтгрузки]  WITH CHECK ADD  CONSTRAINT [FK_СоставОтгрузки_Товары] FOREIGN KEY([КодТовара])
REFERENCES [dbo].[Товары] ([КодТовара])
GO
ALTER TABLE [dbo].[СоставОтгрузки] CHECK CONSTRAINT [FK_СоставОтгрузки_Товары]
GO
/****** Object:  StoredProcedure [dbo].[ДобавитьЗаказ]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавитьЗаказ]
    @КодКлиента INT,
    @ДатаОтгрузкиПлановая DATE,
    @ОбщаяСумма DECIMAL(18,2)
AS
BEGIN
    INSERT INTO Заказы (КодКлиента, ДатаЗаказа, ДатаОтгрузкиПлановая, СтатусЗаказа, ОбщаяСумма)
    VALUES (@КодКлиента, GETDATE(), @ДатаОтгрузкиПлановая, 'Новый', @ОбщаяСумма);
END;
GO
/****** Object:  StoredProcedure [dbo].[ИзменитьСтатусЗаказа]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ИзменитьСтатусЗаказа]
    @НомерЗаказа INT,
    @НовыйСтатус NVARCHAR(30)
AS
BEGIN
    UPDATE Заказы SET СтатусЗаказа = @НовыйСтатус WHERE НомерЗаказа = @НомерЗаказа;
END;
GO
/****** Object:  StoredProcedure [dbo].[ОтчетПоПродажам]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ОтчетПоПродажам]
    @ДатаНачала DATE,
    @ДатаКонца DATE
AS
BEGIN
    SELECT 
        Клиенты.Наименование AS Клиент,
        SUM(СоставОтгрузки.Сумма) AS Итого
    FROM Отгрузки
    JOIN Заказы ON Отгрузки.НомерЗаказа = Заказы.НомерЗаказа
    JOIN Клиенты ON Заказы.КодКлиента = Клиенты.КодКлиента
    JOIN СоставОтгрузки ON Отгрузки.КодОтгрузки = СоставОтгрузки.КодОтгрузки
    WHERE Отгрузки.ДатаОтгрузки BETWEEN @ДатаНачала AND @ДатаКонца
    GROUP BY Клиенты.Наименование
    ORDER BY Итого DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[ПолучитьОстаткиТовара]    Script Date: 26.06.2026 10:24:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ПолучитьОстаткиТовара]
    @КодТовара INT
AS
BEGIN
    SELECT 
        Склады.Название AS Склад,
        ОстаткиТоваров.Количество
    FROM ОстаткиТоваров
    JOIN Склады ON ОстаткиТоваров.КодСклада = Склады.КодСклада
    WHERE ОстаткиТоваров.КодТовара = @КодТовара;
END;
GO
USE [master]
GO
